:root {
  font-family: 'Instrument Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;

  /* Design tokens */
  --border-radius: 6px;
  --border-radius-scrollbar: 4px;
  --border-radius-circle: 50%;
  
  --color-border: #000;
  --color-border-light: #ddd;
  --color-bg: #eeebe6;
  --color-bg: #d7d3cd;
  --color-bg-white: white;
  --color-bg-gray: #f0f0f0;
  --color-bg-hover: #f9f9f9;
  --color-bg-faded-white: #fff8;
  --color-border-faded: #0004;
  
  --color-text: #333;
  --color-text-light: #666;
  
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;

  --shadow-card: 0 1px 2px 1px var(--color-border-faded);
}

* {
  box-sizing: border-box;
  margin: 0;
  background-clip: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
